@model IEnumerable<WedBanLinhKienDienTu.Models.EF.About>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section header {

    <link href="~/Assets/Ad/css/jquery.dataTables.min.css" rel="stylesheet" />
}

@section footer {

    <script src="~/Assets/Ad/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable();
        });
    </script>
}

<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-md-6">
                <strong class="text-uppercase text-danger">Danh sách chủ đề</strong>
            </div>
            <div class="col-md-6 text-end">
                <a href="@Url.Action("Create","About")" class="btn btn-sm btn-success">
                    <i class="fas fa-plus"></i>Thêm
                </a>



            </div>
        </div>
    </div>
    <div class="card-body p-3">
        @Html.Partial("Message")
        <table class="table table-bordered table-striped" id="myTable">
            <thead>
                <tr>
                    <th style="width:20px" class="text-center">#</th>
                    <th>Tên chủ đề</th>
                    <th>Liên kết</th>
                    <th style="width:180px" class="text-center">Chức năng</th>
                    <th style="width:20px" class="text-center">ID</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="text-center">
                            <input name="checkId" type="checkbox" />
                        </td>
                        <td>@item.Name</td>
                        <td>
                            <a href="~/san-pham/@item.MetaTitle">
                                @item.MetaTitle
                            </a>
                        </td>
                        <td class="text-center">
                            @if (item.Status != true)
                            {
                                <a href="@Url.Action("Status","About", new {@id=item.ID })" class="btn btn-sm btn-danger">
                                    <i class="fas fa-toggle-off"></i>
                                </a>
                            }
                            else
                            {
                                <a href="@Url.Action("Status","About", new {@id=item.ID })" class="btn btn-sm btn-success">
                                    <i class="fas fa-toggle-on"></i>
                                </a>
                            }


                            <a href="@Url.Action("Edit","About", new {@id=item.ID })" class="btn btn-sm btn-info" />
                            <i class="fas fa-edit"></i>
                            <a href="@Url.Action("Details","About", new {@id=item.ID })" class="btn btn-sm btn-success" />
                            <i class="fas fa-eye"></i>
                            <a href="@Url.Action("Delete","About", new {@id=item.ID })" class="btn btn-sm btn-danger">
                                <i class="fas fa-trash"></i>
                            </a>
                        </td>
                        <td class="text-center">@item.ID</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

























