@model WedBanLinhKienDienTu.Models.EF.Content

@{
    ViewBag.Title = "Chi tiết bài viết";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-md-6">
                <strong class="text-uppercase text-success"> Chi tiết bài viết</strong>
            </div>
            <div class="col-md-6 text-right">
                <a href="@Url.Action("Edit","Content", new {@id=Model.ID })" class="btn btn-sm btn-info" />
                <i class="fas fa-edit"></i> Sửa
                <a href="@Url.Action("Index","Content")" class="btn btn-sm btn-danger">
                    <i class="fas fa-long-arrow-alt-left"></i>Quay về
                </a>

            </div>
        </div>
    </div>
</div>

<div class="card-body my-3">
    <table class="table table-bordered">
        <tr>
            <th style="width:120px">Tên bài viết</th>
            <th>Nội dung</th>
        </tr>
        <tr>
            <td> @Html.DisplayNameFor(model => model.Name)</td>
            <td> @Html.DisplayFor(model => model.Name)</td>
        </tr>

        <tr>
            <td> @Html.DisplayNameFor(model => model.MetaDescriptions)</td>
            <td> @Html.DisplayFor(model => model.MetaDescriptions)</td>
        </tr>

    </table>

</div>

