@model IEnumerable<WedBanLinhKienDienTu.Models.EF.Category>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-md-6">
                <strong class="text-uppercase text-danger">Danh sách loại sản phẩm</strong>
            </div>
            <div class="col-md-6 text-end">
                <a href="@Url.Action("Create","Categories")" class="btn btn-sm btn-success">
                    <i class="fas fa-plus"></i>Thêm
                </a>
                <a href="@Url.Action("Trash","Categories")" class="btn btn-sm btn-success">
                    <i class="fas fa-trash"></i> Thùng rác
                </a>
            </div>
        </div>
    </div>
    <div class="card-body p-3">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th style="width:20px" class="text-center">#</th>
                    <th>Tên loại sản phẩm</th>
                    <th>Liên kết</th>
                    <th style="width:180px" class="text-center">Chức năng</th>
                    <th style="width:20px" class="text-center">ID</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="text-center">
                            <input name="checkId" type="checkbox" />
                        </td>
                        <td>@item.Name</td>
                        <td>
                            <a href="~/san-pham/@item.MetaTitle">
                                @item.MetaTitle
                            </a>
                        </td>
                        <td class="text-center">

                            <a href="@Url.Action("Edit","Categories", new {@id=item.ID })" class="btn btn-sm btn-info" />
                            <i class="fas fa-edit"></i>
                            <a href="@Url.Action("Details","Categories", new {@id=item.ID })" class="btn btn-sm btn-success" />
                            <i class="fas fa-eye"></i>
                            <a href="@Url.Action("Delete","Categories", new {@id=item.ID })" class="btn btn-sm btn-danger">
                                <i class="fas fa-trash"></i>
                            </a>
                        </td>
                        <td class="text-center">@item.ID</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>